NODE_ENV=development
PORT=3000

# Seguridad de cookies/sesion
COOKIE_SECRET=cambia_este_cookie_secret
SESSION_SECRET=cambia_este_session_secret
SESSION_COOKIE_NAME=brun.sid
SESSION_MAX_AGE_MS=604800000
SESSION_SECURE=false

# Base de datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=brun_db
DB_USER=root
DB_PASSWORD=root
DB_DIALECT=mysql
DB_SSL=false
